*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.resetAndOutlet {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 90vh;
  align-items: center;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RidayParcia";
  src: url("../fonts/Ridayparcia-JRgqn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10vw;
}

body {
  background-color: white;
  font-family: "AvenirNextLTPro", sans-serif;
  color: black;
}

.Nav {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: end;
  height: auto;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 0.6em;
  padding: 0.1em;
  gap: 2vw;
  position: fixed;
  width: 100vw;
  background-color: white;
}

.Nav h1 {
  font-family: "RidayParcia", sans-serif;
  font-size: 0.55rem;
  font-weight: 100;
}

ul {
  justify-self: end;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

li {
  cursor: pointer;
  font-size: 2.5vw;
}

@media (max-width: 600px) {
  .Nav h1 {
    font-size: 0.7rem;
  }

  li {
    font-size: 0.3rem;
  }

  .Nav {
    height: 0.7rem;
  }
}

.Slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/painting_background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 10em;
  height: 4em;
  padding-top: 6%;
}

.Slideshow img {
  object-fit: cover;
  object-position: center;
  border-radius: 0.5em;
  padding: 0.1em;
  width: 40%;
  height: 100%;
  min-width: 300px;
  min-height: auto;
}

@media (max-width: 600px) {
  .Slideshow {
    height: 6em;
  }

  .Slideshow img{
    margin-top: .1em;
  }
}

.About {
  font-size: 3vw;
  font-weight: bold;
  padding: 3vw;
}
.About a {
  color: white;
  font-weight: bold;
}

.About p {
  font-size: 2vw;
}

.Events {
}
.Events img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  padding: 2vw;
  border-radius: 4vw;
  margin: 0 auto;
}

.AboutAndEvents {
  background-color: #ba0c2f;
  display: grid;
  color: white;
  grid-template-columns: 3fr 2fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .AboutAndEvents {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .Events img {
    width: 60%;
  }

  .About {
    font-size: 4vw;
  }
  .About p {
    font-size: 3vw;
  }
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1vw;
  width: 90vw;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
}

.Gallery img {
  object-fit: cover;
  height: auto;
  border-radius: 10%;
  width: 100%;
}

.GalleryDiv {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3vw;
}

.Gallery button {
  border: 2px solid black;
  background-color: white;
  padding: 5px 25px;
  text-align: center;
  border-radius: 1vw;
  grid-column: span 4;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .Gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Gallery button {
    grid-column: span 3;
  }

  .Gallery img {
    object-fit: cover;
    height: auto;
    border-radius: 10%;
    width: 100%;
  }
}

.Gallery button:hover {
  background-color: #ba0c2f;
  color: white;
  border-color: white;
}

.Contact {
  background-color: #ba0c2f;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  padding: 0.1em;
  color: white;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  row-gap: .01em;
  
}

.logo {
  width: 1.2em;
  height: 1.2em;
  grid-row: span 4; /* Logo spans across all three rows */
  border-radius: 1vw;
  margin-right: .1em;
}

.insta {
  width: 3em;
  height: 3em;
  margin: 0;
  padding: 0;
}

.Contact p,
.Contact a {
  font-size: 0.15em;
  align-self: center;
  margin: 0;
  padding: 0;
}

.Contact h2 {
  font-size: 2vw;
}

.Contact a {
  font-weight: bold;
}

@media (max-width: 600px) {
  .Contact {
    height: 2.5em;
    
  }

  .logo {
    width: 2em;
    height: 2em;
    grid-row: span 4; /* Logo spans across all three rows */
    border-radius: 1vw;
    margin-right: .1em;
  }

  .Contact h2 {
    font-size: 4vw;
  }

  .Contact p,
  .Contact a {
    font-size: 0.2em;
  }

  .insta {
    width: 3.5em;
    height: 3.5em;
  }
}

li {
  display: inline-block;
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5vh;
  bottom: 0;
  left: 0;
  background-color: #ba0c2f;
  transition: transform 0.25s ease-out;
}

li:hover::after {
  transform: scaleX(1);
}

li::after {
  transform-origin: bottom right;
}

li:hover::after {
  transform-origin: bottom left;
}
